{% extends 'base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block header %}
{% include 'collector/navbar.html' %}
{% endblock %}

{% block content %}
<div>
    <h1>Smart Waste</h1>
    <p>The help you nedd to digitize your services</p>
</div>
<h2>Tasks overview</h2>
<div>
    <h4>Scheduled Collections</h4>
</div>
<div>
    <h4>Pending Tasks</h4>
</div>
<div>
    <h4>Past Collections</h4>
</div>
<div>
    <h4>Metrics</h4>
</div>
<div>
    <h4>Number of users</h4>
</div>
{% endblock %}