{% extends 'base.html' %}

{% block head %}
<title>Collector Profile</title>
{% endblock %}

{% block header %}
{% include 'collector/navbar.html' %}
{% endblock %}

{% block content %}
<section>
    <h1>Collector Profile</h1>
    <div>
        <h3>Collector Information</h3>
        <p><strong>Collector ID: </strong>{{ collector.collector_id }}</p>
        <p><strong>First Name: </strong>{{ collector.firstname }}</p>
        <p><strong>Second Name: </strong>{{ collector.secondname }}</p>
        <p><strong>Email: </strong>{{ collector.collectoremail }}</p>
    </div>
    <div>
        <h3>Company Information</h3>
        <p><strong>Company ID: </strong>{{ collector.company_id }}</p>
        <p><strong>Company Name: </strong>{{ company.companyname }}</p>
        <p><strong>Routes Covered: </strong>You cover {{ route_count }} route(s)</p>
        <p>To see the complete list of covered routes, click<a href="{{ url_for('collector_routes') }}"> here</a></p>
    </div>
</section>
<section>
    <div>
        <h3>Actions</h3>

    </div>
</section>
{% endblock %}