{% extends 'base.html' %}
{% block head %}
<title>Create Schedule</title>
{% endblock %}

{% block header %}
    {% include 'admin/navbar.html' %}
{% endblock %}

{% block content %}
<div>
    <h2>Create a Schedule</h2>
    <form action="{{ url_for('create_schedule') }}" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.collector_id.label }}
            {{ form.collector_id(class="form-control") }}
        </div>
        <div>
            {{ form.route_id.label }}
            {{ form.route_id(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}