{% extends 'base.html' %}

{% block head %}
<title>Admin Dashboard</title>
{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
<h1>Admin Dashboard</h1>
<section>
    <div>
        <h3>Number of confirmed employees</h3>
    </div>
    <div>
        <h3>Approval pending employees</h3>
    </div>
    <div>
        <h3>Total Waste Collected</h3>
    </div>
    <div>
        <h3>Active Collectors</h3>
    </div>
    <div>
        <h3>Pending tasks employees</h3>
    </div>
</section>
{% endblock %}